# Prepare data downloaded manually

In [1]:
import pandas as pd
import os

In [20]:
paro = pd.read_csv('../data/Paro_por_municipios_2019_csv.csv', encoding='latin1', sep=';', low_memory=False)

In [21]:
paro.head()

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,201901,Enero de 2019,1,Andalucía,4,Almería,4001,Abla,77,4,15,23,4,21,10,11,5,5,52,4
1,201901,Enero de 2019,1,Andalucía,4,Almería,4002,Abrucena,62,5,9,14,5,16,13,7,6,9,36,4
2,201901,Enero de 2019,1,Andalucía,4,Almería,4003,Adra,2088,103,385,449,97,569,485,386,73,250,1174,205
3,201901,Enero de 2019,1,Andalucía,4,Almería,4004,Albánchez,18,0,2,6,1,7,2,1,0,2,15,0
4,201901,Enero de 2019,1,Andalucía,4,Almería,4005,Alboloduy,35,1,8,12,1,8,5,4,4,7,19,1

In [22]:
paro = paro[paro["mes"]=='Diciembre de 2019']

In [31]:
paro.columns

Index(['Código mes ', 'mes', 'Código de CA', 'Comunidad Autónoma',
       'Codigo Provincia', 'Provincia', 'Codigo Municipio', ' Municipio',
       'total Paro Registrado', 'Paro hombre edad < 25',
       'Paro hombre edad 25 -45 ', 'Paro hombre edad >=45',
       'Paro mujer edad < 25', 'Paro mujer edad 25 -45 ',
       'Paro mujer edad >=45', 'Paro Agricultura', 'Paro Industria',
       'Paro Construcción', 'Paro Servicios', 'Paro Sin empleo Anterior'],
      dtype='object')

In [48]:
provincias_paro = paro.groupby(['Provincia', 'Comunidad Autónoma','Código de CA','Codigo Provincia'], as_index=False)[['total Paro Registrado', 'Paro hombre edad < 25','Paro hombre edad 25 -45 ','Paro hombre edad >=45', 'Paro mujer edad < 25', 'Paro mujer edad 25 -45 ','Paro mujer edad >=45', 'Paro Agricultura', 'Paro Industria','Paro Construcción', 'Paro Servicios', 'Paro Sin empleo Anterior']].agg('sum')

In [47]:
provincias_paro.to_csv('../data/provincias_paro.csv', encoding='latin1', index=False)