# Import data into DB

In [2]:
from sqlalchemy import create_engine

## Create DB connection

In [3]:
str_conn='mysql+pymysql://iaguerri:iaguerri@localhost:3306'
cursor=create_engine(str_conn)

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
%run -i 'script.py'

### Create DB

In [ ]:
cursor.execute('create database elecc;')

In [ ]:
adf.to_sql(name='actor', con=cursor, if_exists='replace', index=False)
cdf.to_sql(name='category', con=cursor, if_exists='replace', index=False)
fdf.to_sql(name='film', con=cursor, if_exists='replace', index=False)
idf.to_sql(name='inventory', con=cursor, if_exists='replace', index=False)
ldf.to_sql(name='language', con=cursor, if_exists='replace', index=False)
odf.to_sql(name='oldHDD', con=cursor, if_exists='replace', index=False)
rdf.to_sql(name='rental', con=cursor, if_exists='replace', index=False)